@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

RefrigeratedCode is primarily a tech blog written by Andre Supena as he discover new things in the world. 

He may also put secret projects around the site as time passes by...

